.comforts {
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-image: url("../img/main/nik-lanus-1920.jpg");

  @include respond-to(largeScreen) {
    width: 100%;
  }
  @include respond-to(middleSmartphone) {
    width: 100%;
  }

  &__title {
    color: $mainFontColor;
    font-family: $logoFont;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0;
    line-height: 34px;
    text-align: center;
    padding: 30px 0;

    @include respond-to(middleSmartphone) {
      font-size: 24px;
    }
  }

  &__box {
    @include flex-wrap-between();
  }

  &__item {
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(250, 250, 250, .8);
    border-radius: 10px;

    @include respond-to(largeScreen) {
      width: 29%;
    }
    @include respond-to(middleSmartphone) {
      width: 44%;
    }
  }

  &__img {
    width: 33%;
    padding-top: 10px;
  }

  &__text {

    color: $textColor;
    font-family: $mainFont;
    font-size: 22px;
    letter-spacing: .8px;
    line-height: 25px;
    margin: 0;
    padding: 10px 0;

    @include respond-to(largeScreen) {
      font-size: 16px;
    }
    @include respond-to(middleSmartphone) {
      font-size: 12px;
    }
  }
}