.footer{
  background: $mainFontColor;
  color: $white;
  font-family: $mainFont;
  font-size: 18px;

  &__title {
    font-family: $logoFont;
    padding: 5px 0;
    font-size: 34px;
  }

  &__img {
    width: 50px;
    height: 50px;
  }

  &__info {
    padding: 5px 0;
    text-align: right;
    line-height: 28px;

    @include respond-to(middleSmartphone){
      text-align: center;
    }
  }

  &__address {
    display: block;

  }
}