.price {
  color: $mainFontColor;
  font-family: $mainFont;
  font-size: 18px;
  margin: 50px auto;

  @include respond-to(largeScreen) {
    font-size: 16px;
  }
  @include respond-to(middleSmartphone) {
    font-size: 12px;
  }

  &__title {
    font-family: $logoFont;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0;
    line-height: 34px;
    text-align: center;
    padding: 30px 0;

    @include respond-to(middleSmartphone) {
      font-size: 24px;
    }
  }

  &__slider {
    width: 50%;
    padding: 15px;

    @include respond-to(middleSmartphone) {
      width: 90%;
      font-size: 12px;
      margin: 0 auto;
    }
  }

  &__box {
    @include flex();

    @include respond-to(largeScreen) {

    }
    @include respond-to(middleSmartphone) {
      display: block;
    }
  }

  &__img {
    width: 50%;
    height: 50%;
    @include flex();

    @include respond-to(middleSmartphone) {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: 10px 20px;
    width: 50%;

    @include respond-to(middleSmartphone) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__subtitle {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid $btnColor;

    @include respond-to(largeScreen) {
      font-size: 18px;
    }
    @include respond-to(middleSmartphone) {
      font-size: 14px;
    }
  }

  &__text {

    &--big {
      font-weight: bold;
    }
  }

  &__tb {
    width: 100%;
    font-size: 14px;

    @include respond-to(largeScreen) {
      width: 80%;
      font-size: 12px;
    }
    @include respond-to(middleSmartphone) {
      width: 80%;
      font-size: 10px;
      margin: 0 auto;
    }
  }

  &__td {
    width: 33%;
    text-align: center;
    border-right: 1px solid $btnColor;
    font-weight: bold;

    &:last-child {
      border: none;
    }
  }

}

.icons {
  @include flex();

  &__img {
    width: 10%;
    height: 10%;
    max-width: 50px;
    padding: 0 10px;

    &--small {
      padding: 8px 15px 0 10px;
      max-width: 30px;

    }
  }
}

.slider {

  &-for, &-nav {
    width: 100%;
    height: auto;

    &__img {
      width: 100%;
      height: 100%;
    }
  }

  &-nav {
    padding: 10px 0;

    &__item {
      padding: 0 2px;
      cursor: pointer;
    }
  }

}
