.wrap {
  max-width: 1000px;
  text-align: center;
  margin: 50px auto;

  &--nav {
    margin: 0 auto;
    @include flex-between();

    @include respond-to(largeScreen) {
      width: 100%;
      @include flex-around();
    }

  @include respond-to(middleSmartphone) {
      @include flex-center-col();
    }
  }

}